{% load static i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% trans "Messages | mysite.com" %}.{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static "main/img/favicon.png" %}" />
    <link href="{% static "main/css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <script type="text/javascript" src="{% static "main/js/jquery-2.0.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "main/js/jquery.maskedinput.min.js" %}"></script>
    <script src="{% static "main/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "fancybox/source/jquery.fancybox.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "fancybox/source/jquery.fancybox.css" %}" media="screen" />
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{% url 'home' %}" class="navbar-brand"><i style="color: #EB6864" class="fa fa-user-md fa-lg"></i>  Домой</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="link" href="{% url 'schedule-add' %}">Добавить график операций</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>