{% extends 'main/base.html' %}
{% load i18n %}

{% block content %}
    <form action="{% url 'schedule-add' schedule_id=schedule.id %}" method="post">
        {% csrf_token %}
        {{ schedule_form }}
        {{ rooms }}
        <button class="btn btn-primary" type="submit">Готово</button>
    </form>
{% endblock %}