{% extends 'main/base.html' %}
{% load i18n static %}
{% block content %}
    <style>
        .btn-plus {
            height: 17px;
            width: 17px;
            text-align: center;
            color: #ffffff;
            font: 16px normal Sans-Serif;
            font-weight: bolder;
            padding: 0;
            margin-bottom: 4px;
        }
        #id_comment {
            height: 80px;
            width: 100%;
        }
        input[id$="-ward"], input[id$="-num"] {
            width: 30px;
            margin: 0 20px 0 20px;
        }
        input[id$="-patient"] {
            width: 300px;
            margin: 0 20px 0 20px;
        }
        .fa-trash-o:hover, .fa-minus-square:hover {
            color: #F57A00;
            cursor: pointer;
        }
    </style>
    <form action="{% url 'schedule-add' schedule_id=schedule.id %}" method="post">
        {% csrf_token %}
        {{ schedule_form.as_p }}
        {{ manipulations.management_form }}
        {{ rooms.management_form }}
        {{ operations.management_form }}
        {{ operation_staff.management_form }}
        <hr/>
        {% for room_form in rooms %}
        <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                  {{ room_form }}
              </h3>
            </div>
            <div class="panel-body room">
                <span data-room-id="{{ room_form.instance.id }}" data-operation-count="0" class="btn btn-danger btn-sm add-operation col-md-offset-8">Добавить операцию</span>
            </div>
        </div>
        {% endfor %}
        <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">
                  Манипуляции и др.
              </h3>
            </div>
            <div class="panel-body room">
                <span data-schedule-id="{{ schedule.id }}" data-manipulation-count="0" class="btn btn-danger btn-sm add-manipulation col-md-offset-8">Добавить манипуляцию</span>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Готово</button>
        <hr/>
    </form>
    <div style="display: none">
        <div id="operations-empty-form">
            <div class="operation" index="__prefix__">
                <span class="badge operation_number">__operation_number__</span>
                {% for field in operations.empty_form %}
                    {% if field.name == 'code' %}
                        <input type="hidden" id="id_{{ operations.prefix }}-__prefix__-code" name="{{ operations.prefix }}-__prefix__-code" value="__operation_code__">
                    {% else %}
                        {% if not field.is_hidden and field.name != 'room' %}{{ field.label }}{% endif %}
                        {% if field.name == 'room' %}
                            <input type="hidden" id="id_{{ operations.prefix }}-__prefix__-room" name="{{ operations.prefix }}-__prefix__-room" value="__operation_room__">
                        {% else %}
                            {{ field }}
                        {% endif %}
                        {% if field.name == 'patient' %}<i class="fa fa-trash-o fa-lg "></i><br/><br/>{% endif %}
                        {% if field.name == 'diagnosis' %}<span data="add-diagnosis-dialog" class="btn btn-primary btn-xs btn-plus"><i class="fa fa-plus-square-o"></i></span>{% endif %}
                        {% if field.name == 'kind' %}<span data="add-kind-dialog" class="btn btn-primary btn-xs btn-plus"><i class="fa fa-plus-square-o"></i></span><br/>{% endif %}
                    {% endif %}
                {% endfor %}
                <br/>
                <br/>
                <span data-operation-id="__operation_code__" class="col-md-offset-6 btn btn-danger btn-xs add-surgeon">Добавить хирурга</span>
                <hr/>
            </div>
        </div>
        <div id="operation-staff-empty-form">
            <div index="__prefix__" class="col-md-offset-3 surgeon"><i class="fa fa-minus-square fa-lg"></i>
                {% for field in operation_staff.empty_form %}
                    {% if field.name == 'code' %}
                        <input type="hidden" id="id_{{ operation_staff.prefix }}-__prefix__-code" name="{{ operation_staff.prefix }}-__prefix__-code" value="__operation_code__">
                    {% elif field.name == 'operation' %}
                        {{ field.as_hidden }}
                    {% else %}
                        {% if not field.is_hidden %}{{ field.label }}{% endif %}
                        {{ field }}
                        {% if field.name == 'surgeon' %}<span data="add-surgeon-dialog" class="btn btn-primary btn-xs  btn-plus"><i class="fa fa-plus-square-o"></i></span>{% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="add-diagnosis-dialog">
            <form style="width: 95%" class="form-horizontal" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Новый диагноз</legend>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="id_new_diagnosis">Диагноз</label>
                        <div class="col-lg-10">
                            <input type="text" style="width: 400px" name="new_diagnosis" id="id_new_diagnosis" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <span data="diagnosis" class="btn btn-primary btn-plus-submit">Добавить</span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div id="add-kind-dialog">
            <form style="width: 95%" class="form-horizontal" method="post">
                 {% csrf_token %}
                <fieldset>
                    <legend>Новый тип операции</legend>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="id_new_kind">Тип</label>
                        <div class="col-lg-10">
                            <input type="text" style="width: 300px" name="new_kind" id="id_new_kind" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <span data="kind" class="btn btn-primary btn-plus-submit">Добавить</span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div id="add-surgeon-dialog">
            <form style="width: 95%" class="form-horizontal" method="post">
                 {% csrf_token %}
                <fieldset>
                    <legend>Новый хирург</legend>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="id_new_surgeon">Фамилия И.О.</label>
                        <div class="col-lg-10">
                            <input type="text" style="width: 400px" name="new_surgeon" id="id_new_surgeon" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <span data="surgeon" class="btn btn-primary btn-plus-submit">Добавить</span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div id="add-manipulation-dialog">
            <form style="width: 95%" class="form-horizontal" method="post">
                 {% csrf_token %}
                <fieldset>
                    <legend>Новый тип манипуляции или исследования</legend>
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="id_new_manipulation">Название</label>
                        <div class="col-lg-10">
                            <input type="text" style="width: 300px" name="new_manipulation" id="id_new_manipulation" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <span data="manipulation_type" class="btn btn-primary btn-plus-submit">Добавить</span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div id="manipulations-empty-form">
            <div class="manipulation" index="__prefix__">
                <span class="badge manipulation_number">__manipulation_number__</span>
                {% for field in manipulations.empty_form %}
                        {% if not field.is_hidden %}{{ field.label }}{% endif %}
                        {{ field }}
                        {% if field.name == 'patient' %}<i class="fa fa-trash-o fa-lg "></i><br/><br/>{% endif %}
                        {% if field.name == 'manipulation_type' %}<span data="add-manipulation-dialog" class="btn btn-primary btn-xs btn-plus"><i class="fa fa-plus-square-o"></i></span>&nbsp;&nbsp;&nbsp;{% endif %}
                        {% if field.name == 'surgeon' %}<span data="add-surgeon-dialog" class="btn btn-primary btn-xs btn-plus"><i class="fa fa-plus-square-o"></i></span><br>{% endif %}
                {% endfor %}
                <hr/>
            </div>
        </div>
    </div>
    <script>
         var init_mask = function () {
            $('input[name$="start_time"]').mask("99:99");
            $('input[name$="ward"]').mask("99");
            $('input[name$="num"]').mask("99");
        };
        init_mask();
        var clicked_btn_plus = null;
        $(document).on('click', '.btn-plus', function(){
            clicked_btn_plus = this;
            var form_html = $('#' + $(this).attr('data')).html();
            $.fancybox({
                type: 'inline',
                content: form_html,
                minWidth: 400
            });
        });
        $(document).on('click', '.btn-plus-submit', function(){
            var add_form = $(this).closest('form');
            var select_prefix = $(this).attr('data');
            $.ajax({
                type: "POST",
                url: '{% url 'item-add' %}',
                data: add_form.serialize(),
                dataType: 'json',
                success: function(result) {
                    $.fancybox.close();
                    $('select[name$=' + select_prefix + ']').append(result.data);
                    $(clicked_btn_plus).prev('select').val(result.id);
                }
            });
        });
        $(document).on('click', '.add-operation', function(){
            var form_count = $('#id_{{ operations.prefix }}-TOTAL_FORMS').val();
            var max_forms = {{ operations.max_num }};
            var operations_empty_form = $('#operations-empty-form').html();
            var operation_number = parseInt($(this).attr('data-operation-count')) + 1;
            var operations_form = operations_empty_form.replace(/__prefix__/g, form_count)
                    .replace(/__operation_number__/g, operation_number)
                    .replace(/__operation_room__/g, $(this).attr('data-room-id'))
                    .replace(/__operation_code__/g, $(this).attr('data-room-id') + 'r' + operation_number + 'o');
            $(this).before(operations_form);
            var add_surgeon_button = $(this).prev('div').find('.add-surgeon');
            add_surgeon_button.trigger('click');
            add_surgeon_button.prev('div').find('select[name$="role"]').val("o");
            add_surgeon_button.trigger('click');
            $(this).attr('data-operation-count', operation_number);
            form_count++;
            console.log(form_count);
            $('#id_{{ operations.prefix }}-TOTAL_FORMS').val(form_count);
            init_mask();
        });
        $(document).on('click', '.add-surgeon', function(){
            var form_count = $('#id_{{ operation_staff.prefix }}-TOTAL_FORMS').val();
            var max_forms = {{ operation_staff.max_num }};
            var operations_empty_form = $('#operation-staff-empty-form').html();
            var operations_form = operations_empty_form.replace(/__prefix__/g, form_count)
                    .replace(/__operation_code__/g, $(this).attr('data-operation-id'));
            $(this).before(operations_form);
            form_count++;
            $('#id_{{ operation_staff.prefix }}-TOTAL_FORMS').val(form_count);
        });
        $('.add-operation').trigger('click');
        var reset_block = function(block, index, prefix) {
            var jq_block = $(block);
            var old_index = jq_block.attr('index');
            var input_old_rstr = prefix + old_index + '-';
            var input_new_rstr = prefix + index + '-';
            jq_block.attr('index', index);
            jq_block.find(':input').each(function(){
                $(this).attr('id', $(this).attr('id').replace(input_old_rstr, input_new_rstr));
                $(this).attr('name', $(this).attr('name').replace(input_old_rstr, input_new_rstr));
            });
            jq_block.find('select').each(function(){
                $(this).attr('id', $(this).attr('id').replace(input_old_rstr, input_new_rstr));
                $(this).attr('name', $(this).attr('name').replace(input_old_rstr, input_new_rstr));
            });
        };
        {# Удалить оператора #}
        $(document).on('click', '.fa-minus-square', function(){
            $(this).closest('div.surgeon').remove();
            var form_count = $('#id_{{ operation_staff.prefix }}-TOTAL_FORMS').val();
            form_count--;
            $('#id_{{ operation_staff.prefix }}-TOTAL_FORMS').val(form_count);
            var index = 0;
            $('div.surgeon').each(function(){
                reset_block(this, index, '{{ operation_staff.prefix }}');
                index++;
            });
        });
        var reset_operation_numbers = function() {
            $('.room').each(function(){
                var index = 0;
                $(this).find('span.operation_number').each(function(){
                    index++;
                    $(this).text(index);
                })
            })
        };
        {# Удалить операцию #}
        $(document).on('click', '.fa-trash-o', function(){
            {# Удалить операторов #}
            $(this).closest('div.operation').find('.fa-minus-square').each(function(){
                $(this).trigger('click');
            });
            {# Удалить операцию #}
            $(this).closest('div.operation').remove();
            var form_count = $('#id_{{ operations.prefix }}-TOTAL_FORMS').val();
            form_count--;
            $('#id_{{ operations.prefix }}-TOTAL_FORMS').val(form_count);
            var index = 0;
            $('div.operation').each(function(){
                reset_block(this, index, '{{ operations.prefix }}');
                index++;
            });
            reset_operation_numbers();
        });
        $(document).on('click', '.add-manipulation', function(){
            var form_count = $('#id_{{ manipulations.prefix }}-TOTAL_FORMS').val();
            var max_forms = {{ manipulations.max_num }};
            var manipulations_empty_form = $('#manipulations-empty-form').html();
            var manipulation_number = parseInt($(this).attr('data-manipulation-count')) + 1;
            var manipulations_form = manipulations_empty_form.replace(/__prefix__/g, form_count)
                    .replace(/__manipulation_number__/g, manipulation_number);
            $(this).before(manipulations_form);
            $(this).attr('data-manipulation-count', manipulation_number);
            form_count++;
            console.log(form_count);
            $('#id_{{ manipulations.prefix }}-TOTAL_FORMS').val(form_count);
            init_mask();
        });

    </script>
{% endblock %}